.python1:hover::after {
  content: 'Belajar Python Dasar #1 || Apa Itu Python ?';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python2:hover::after {
  content: 'Belajar Python Dasar #2 || Cara Install Python Di Windows';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python3:hover::after {
  content: 'Belajar Python Dasar #3 || Cara Install IDE PyCharm Untuk Python';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python4:hover::after {
  content: 'Belajar Python Dasar #4 || Mempelajari Syntax Python';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python5:hover::after {
  content: 'Belajar Python Dasar #5 || Mengenal Apa Itu Variabel Pada Python';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python6:hover::after {
  content: 'Belajar Python Dasar #6 || Python Variabel Lanjutan';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python7:hover::after {
  content: 'Belajar Python Dasar #7 || Macam – Macam Tipe Data';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python8:hover::after {
  content: 'Belajar Python Dasar #8 || Mengambil Input Data Dari User';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python9:hover::after {
  content: 'Belajar Python Dasar #9 || Macam – Macam Operasi Aritmatika';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
