.python1:hover::after {
  content: 'Belajar Python Dasar #1 || Apa Itu Python?';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python2:hover::after {
  content: 'Belajar Python Dasar #2 || Install Python Di Windows';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python3:hover::after {
  content: 'Belajar Python Dasar #3 || Python Syntax';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

.python3:hover::after {
  content: 'Belajar Python Dasar #3 || Python Variabel';
  display: block;
  position: absolute;
  z-index: 257;
  background-color: #141947;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}
