:root {
  --blue: #0d6efd;
  --button: #005eeb;
}
nav {
  z-index: 9999;
  padding: 16px 16px !important;
}
.navbar-light {
  background-color: #f6f7fa;
}
.mt-5 {
  margin-top: 150px !important;
}
.content {
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.side {
  display: none;
}
.sidebar {
  width: 236px;
  background-color: rgb(0 64 255 / 6%);
  padding: 20px 10px;
  border-radius: 10px;
}
.after a {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #595959;
  text-decoration: none;
  transition: 0.1s;
}
.after {
  padding: 5px 0 5px 5px;
  border-radius: 2px 20px 20px 2px;
  transition: 0.1s;
}
.after:hover a {
  color: white;
}
.after:hover {
  cursor: pointer;
  background-color: var(--blue);
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  text-transform: capitalize;
  color: #141947;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  text-transform: capitalize;
  color: #141947;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  text-transform: capitalize;
  color: #141947;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #141947;
}
h5 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1rem;
  color: #414141;
  text-decoration: none;
}
.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.p,
p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: justify;
  text-transform: capitalize;
  color: #474747;
  text-decoration: none;
}
@media (max-width: 575.98px) {
  .side {
    display: inline-block;
    background-color: rgb(0 64 255 / 6%);
    padding: 20px 10px;
    border-radius: 10px;
  }
}
