@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;600;700&display=swap');
:root {
  --blue: #0d6efd;
  --button: #005eeb;
}
nav {
  z-index: 9999;
  padding: 16px 16px !important;
}
.navbar-brand {
  position: relative;
}
.navbar-brand::after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  top: 50%;
  left: -14%;
  transform: translateX(0) translateY(-25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.rounded {
  border-radius: 10px !important;
}
.navbar-light {
  background-color: #0d6efd;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
  transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: hsl(216, 100%, 92%) !important;
}
.navbar-light .navbar-toggler {
  border-color: rgb(255 255 255 / 64%);
}
.navbar-light .navbar-toggler-icon {
  background-image: url(../img/illustration/togler.svg);
  background-size: 80%;
}
.mt-5 {
  margin-top: 150px !important;
}
.content {
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.side {
  display: none;
}
.sidebar {
  width: 236px;
  background-color: rgb(0 64 255 / 6%);
  padding: 20px 10px;
  border-radius: 10px;
}
.after a {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: #595959;
  text-decoration: none;
  transition: 0.1s;
}
.active {
  /* padding: 5px 0 5px 5px;
  border-radius: 2px 20px 20px 2px;
  transition: 0.1s; */
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: var(--blue);
}
.active a {
  color: white;
}
.after {
  padding: 5px 0 5px 5px;
  border-radius: 2px 20px 20px 2px;
  transition: 0.1s;
}
.after:hover a {
  color: white;
}
.after:hover {
  cursor: pointer;
  background-color: var(--blue);
}
h2,
h2,
h3,
h4,
h5 {
  margin-top: 35px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  /* font-size: 2.6em; */
  text-transform: capitalize;
  color: #141947;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.7em;
  text-transform: capitalize;
  color: #141947;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  text-transform: capitalize;
  color: #141947;
}
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  text-transform: capitalize;
  color: #141947;
}
h5 {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.04rem;
  color: #414141;
  text-decoration: none;
}
.blockquote {
  background: #0d6efd;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  border-left: 6px solid #02031b;
  border-right: 6px solid #02031b;
}
.quote {
  color: white;
  /* font-size: 1em; */
  font-weight: 0;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}
.btn {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.p,
p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* text-align: justify; */
  /* text-transform: capitalize; */
  color: #474747;
  text-decoration: none;
}
.ans {
  padding: 20px 20px;
  border-radius: 10px;
  background-color: rgb(13 110 253 / 87%);
  background-color: rgb(0 64 255 / 6%);
  transition: 0.5s;
}
.quest {
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 20px;
}
#artikelTerbaru .card,
#artikelTerbaru img,
#pythonDasar .card,
#pythonDasar img {
  border-radius: 10px;
}
#artikelTerbaru h2,
#artikelTerbaru h5,
#artikelTerbaru h4,
#pythonDasar h2,
#pythonDasar h5,
#pythonDasar h4 {
  margin: 0;
}
.card {
  border: none;
  transition: 0.3s;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%);
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
}
@media (max-width: 575.98px) {
  .side {
    display: inline-block;
    background-color: rgb(0 64 255 / 6%);
    padding: 20px 10px;
    border-radius: 10px;
  }
}
